
#response {
    font-family: 'Monaco';
    background-color: #DDD;
    padding: 5px;
    border: 1px dashed black;
    height:200px;
    overflow-y: scroll;
}


#sendbutton {
    background-color: #EEE;
    width: 40px;
    padding: 5px;
    cursor: pointer;
}


#resetbutton {
    background-color: #EEE;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}


body {
    font-family: 'Lucida Grande';
}
